* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  outline: none;
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#container-main {
  background: #c2c2c2;
  padding: 16px;
  border: 2px solid black;
  border-radius: 8px;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-main h1 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

#container-main input[type="number"],
#container-main input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 16px;
}

#container-main input[type="submit"] {
  background-color: green;
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#container-main input[type="submit"]:hover {
  background-color: rgb(0, 114, 0);
}

#container-main input[type="reset"] {
  background-color: rgb(168, 76, 76);
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#container-main input[type="reset"]:hover {
  background-color: rgb(136, 48, 48);
}

#container-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}

input:focus {
  outline: 2px solid blue !important;
}
